<%- include("partials/header", {isAuthenticated}) -%>

    <div class="container">
        <form action="/sendEmail/sendEmail" method="post">
            <div class="form-group">
                <textarea  name ="paramessage" id="paramessage" class="form-control"> Lorem ipsum dolor sit amet.  </textarea>
            </div>          
              <a href="/" class="btn btn-danger" >Cancel</a> 
            <button type="submit" class="btn btn-success" >Send</button> 
        </form>

    </div>
<%- include("partials/footer") -%>
