<%- include("partials/header", {isAuthenticated}) -%>
  
<div class="container">
  <h2 class="normal-heading-font heading" style="font-weight:600;">Hi there!</h2>
  <h1><%= title %></h1>
  <button type ="button" onclick="location.href = '/uploads'" value = "uploadFile">uploadFile</button> 
  <button type ="button" onclick="location.href = '/getfiles'" value = "getFiles">getFile</button>
  <button type ="button" onclick="location.href = '/sendEmail/newEmail'" value = "sendEmail">sendEmail</button>
  <% if(isAuthenticated) {%>
    <button type = "button" onclick="location.href = '/uploads/articles'" value = "articles" > Articles </button>
  <% } %>
  <div class="col-lg-3 col-sm-12 d-flex flex-column align-items-center">
    <h3 class="normal-heading-font" style="font-weight:600;">Anything New?</h3>
    <a href="/uploads/articles/new-article"><button class="button  pen">Compose</button></a>
  </div>
  <div my-3>  
    <% if(posts.length){ %>
      <%- include("posts", {posts}) -%>
    <% } else {%>
      <p class="mx-auto text-center text-danger">No Blogs Found...</p> 
      <% } %>
  </div>
</div>
<%- include("partials/footer") -%>

