<div class="row">
    <% posts.forEach(function (post) { %>
        <div class="post-preview col-lg-5 mx-2 mx-md-auto py-3 my-3">
            <div class="my-1">
            </div><hr>
            <h1 style="font-size: 2.4rem;font-weight: bold;"> <%= post.title %> </h1>
            <p class="post-date-font">Posted on <%= moment(new Date(post.createdAt)).format("dddd, MMMM Do YYYY, h:mm:ss a") %> </p>
            
            <p class="text-muted d-flex">
                <%- post.description.substring(0,50) %> <span>...</span>
            </p>
            <div class="mt-2">
                <a href="/uploads/article/<%= post._id %>"><button class="button read">Read More</button></a>
            </div>
            
        </div>
    <% }); %>
</div>