<%- include("partials/header", {isAuthenticated}) -%>

	<div class="container">
				<h1 class="my-4"><%= titleHead %> </h1>

				<form action="/uploads/uploadedFiles" method="post" enctype="multipart/form-data">
					<div class="custom-file mb-3">
						<input type="file" class="custom-file-input" name="file" id="file1" onchange="readSingleFile(this.files)">
						<label class="custom-file-label" for="file1" id="file-label">Choose file</label>
					</div>
					<input type="submit" value="Submit" class="btn btn-primary btn-block">
				</form>
				<br></br>
	</div>

<%- include("partials/footer") -%>


